.new-menu-button {
  align-self: flex-end;
  backdrop-filter: blur(12px);
  color: var(--coffee-main);
  background-color: var(--gray-dark-transparent);
  cursor: pointer;
  font-size: 28px;
  padding: 12px;
  border-radius: 50%;
}

.new-menu-wrapper {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.new-menu {
  border: 0;
  background-color: var(--gray-dark-transparent);
  backdrop-filter: blur(12px);
  width: 75%;
  max-width: 480px;
  border-radius: 12px;
}

.new-menu::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.new-menu-header {
  display: flex;
  color: var(--coffee-main);
  justify-content: space-between;
}

.new-menu-title {
  font-size: 20px;
  font-weight: bold;
}

.new-menu-close-button {
  cursor: pointer;
}

.new-menu-form {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
