.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  height: 100vh;
  padding: 12px;
  max-width: 480px;
  margin-inline: auto;
}

.auth-form-title {
  color: var(--gray-lightest);
  font-size: 32px;
  margin-bottom: 6px;
  font-weight: bold;
  text-align: center;
}

.auth-form-actions {
  display: flex;
  gap: 6px;
  flex-direction: column;
  margin-top: 16px;
}
